openapi: 3.1.0
info:
  title: Hammerhead API
  termsOfService: https://www.sram.com/en/company/legal/global-privacy-policy
  version:
  x-logo:
    url: /v1/docs/h_logo.svg
  contact:
    email: support@hammerhead.io
    url: https://support.hammerhead.io/
  description: >
    Manage user data related to their Hammerhead Karoo.
tags:
  - name: Authorization
    servers:
      - url: https://api.hammerhead.io/v1/auth
    description: |
      Access to our API is authorized using the [OAuth 2.0](https://datatracker.ietf.org/doc/html/rfc6749) authorization framework.

      To get started, you will need to create an API Client and obtain a client ID and secret.

      Users can then be authorized by providing a link to our authorization url:

      ```html
      <a href="https://api.hammerhead.io/v1/auth/oauth/authorize
        ?client_id={client_id}
        &redirect_uri={redirect_uri}
        &response_type=code
        &scope={scope}
        &state={state}"
      />
      ```

      This will redirect users to our OAuth Confirm page where users will be allowed to
      select a subset of scopes from the ones requested. Scopes should be space delimited.

      On deny, users will be sent to the `redirect_uri` with an error set:

      ```
      {redirect_uri}?error=access_denied&state={state}
      ```

      On accept, users accounts will be linked with the selected scopes and will be sent to
      the `redirect_uri` with the auth code and state:

      ```
      {redirect_uri}?code={code}&state={state}
      ```

      Once code and state are received, they can be exchanged for an access token using the `/oauth/token` endpoint.

      This bearer token can then be used to access our API endpoints.
  - name: Activities
    description: >
      Endpoints related to user activity data and syncing.
  - name: Routes
    description: >
      Endpoints related to user route management.
  - name: Workouts
    description: >
      Endpoints related to user workout management.
  - name: Metrics
    description: >
      Endpoints related to user training metrics.
servers:
  - url: https://api.hammerhead.io/v1/api/
paths:
  /oauth/authorize:
    get:
      summary: Authorize
      description: >
        Authorize redirect endpoint to obtain consent from users.
      servers:
        - url: https://api.hammerhead.io/v1/auth
      tags:
        - Authorization
      parameters:
        - name: response_type
          description: >
            OAuth response type
          in: query
          schema:
            type: string
            enum: [code]
          required: true
        - name: client_id
          description: >
            Your client ID
          in: query
          schema:
            type: string
          required: true
        - name: redirect_uri
          description: >
            Should match one of your configured redirect endpoints
          in: query
          schema:
            type: string
          required: true
        - name: scope
          description: >
            Space delimited scopes being requested
          in: query
          schema:
            type: string
          required: true
        - name: state
          description: >
            Opaque value passed back in the redirect
          in: query
          schema:
            type: string
          required: true
      responses:
        302:
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string

  /oauth/token:
    post:
      summary: Token exhange
      description: >
        Exchange authorization codes or refresh tokens for a new bearer token.
      servers:
        - url: https://api.hammerhead.io/v1/auth
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: >
                    Your client ID
                client_secret:
                  type: string
                  description: >
                    Your client secret
                grant_type:
                  type: string
                  description: >
                    OAuth grant type
                  enum:
                    - authorization_code
                    - refresh_token
                code:
                  type: string
                  description: >
                    Required for code auth, generated from initial authorize request
                redirect_uri:
                  type: string
                  description: >
                    Required for code auth, should match the `redirect_uri` from the authorize request
                refresh_token:
                  type: string
                  description: >
                    Required for code auth, generated from previous token request
              required:
                - client_id
                - client_secret
                - grant_type
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_type:
                    type: string
                    example: "Bearer"
                  access_token:
                    type: string
                    example: "access_token"
                  refresh_token:
                    type: string
                    example: "refresh_token"
                  expires_in:
                    type: int
                    example: 52000
                  user_id:
                    type: string
                    example: "1000"
  /oauth/deauthorize:
    post:
      summary: Deauthorize
      description: >
        Remove a user's account link, all of their imported routes and workouts, and removes
        their current refresh tokens.
      servers:
        - url: https://api.hammerhead.io/v1/auth
      tags:
        - Authorization
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  description: >
                    Your client ID
                client_secret:
                  type: string
                  description: >
                    Your client secret
                token:
                  type: string
                  description: >
                    An access token for the user to deauthorize
              required:
                - client_id
                - client_secret
                - token
      responses:
        200:
          description: OK
  /activities:
    get:
      summary: Get activities
      description: >
        Get a paginated list of user activity summaries.
      tags:
        - Activities
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: >
            Requested page of activities
        - name: perPage
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: >
            Number of activities per page
        - name: startDate
          in: query
          schema:
            type: date
            example: "2025-05-31"
          description: >
            A starting date in the form `YYYY-MM-DD`
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ActivitySummary"
      security:
        - hammerhead_oauth: ["activity:read"]
  /activities/{activityId}:
    get:
      summary: Get activity
      description: >
        Get detailed information about a single activity by ID.
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: string
          description: Activity ID
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
      security:
        - hammerhead_oauth: ["activity:read"]
  /activities/{activityId}/file:
    get:
      summary: Get activity FIT file
      description: |
        Get the FIT file of a single activity by ID.
      tags:
        - Activities
      parameters:
        - name: activityId
          in: path
          required: true
          schema:
            type: string
          description: Activity ID
      responses:
        200:
          description: OK
          content:
            application/vnd.ant.fit:
              schema:
                type: string
                format: binary
      security:
        - hammerhead_oauth: ["activity:read"]
  /routes:
    get:
      summary: Get routes
      description: >
        Get a paginated list of user route summaries.
      tags:
        - Routes
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
          description: >
            Requested page of routes
        - name: perPage
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: >
            Number of routes per page
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Pagination"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/RouteSummary"
      security:
        - hammerhead_oauth: ["route:read"]
  /routes/file:
    post:
      summary: Create route
      description: >
        Create a route using a supported route file.
      tags:
        - Routes
      requestBody:
        $ref: "#/components/requestBodies/RouteUpload"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Route"
      security:
        - hammerhead_oauth: ["route:write"]
  /routes/{routeId}/file:
    put:
      summary: Update route
      description: >
        Update a route using a supported route file.
      tags:
        - Routes
      parameters:
        - name: routeId
          in: path
          required: true
          schema:
            type: string
          description: Route ID
      requestBody:
        $ref: "#/components/requestBodies/RouteUpload"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Route"
      security:
        - hammerhead_oauth: ["route:write"]
  /routes/{routeId}:
    delete:
      summary: Delete route
      description: >
        Delete a route by ID. Can only delete routes created by your client.
      tags:
        - Routes
      parameters:
        - name: routeId
          in: path
          required: true
          schema:
            type: string
          description: Route ID
      responses:
        204:
          description: OK
      security:
        - hammerhead_oauth: ["route:write"]
  /workouts/file:
    post:
      summary: Create workout
      description: >
        Create a workout using a supported workout file.
      tags:
        - Workouts
      parameters:
        - name: plannedDate
          in: query
          schema:
            type: string
          description: >
            Optional. Date the workout is planned to be done. Format is YYYY-MM-DD
      requestBody:
        $ref: "#/components/requestBodies/WorkoutUpload"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workout"
      security:
        - hammerhead_oauth: ["workout:write"]
  /workouts/{workoutId}/file:
    put:
      summary: Update workout
      description: >
        Update a workout using a supported workout file.
      tags:
        - Workouts
      parameters:
        - name: workoutId
          in: path
          required: true
          schema:
            type: string
          description: Workout ID
        - name: plannedDate
          in: query
          schema:
            type: string
          description: >
            Optional. Date the workout is planned to be done. Format is YYYY-MM-DD
      requestBody:
        $ref: "#/components/requestBodies/WorkoutUpload"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workout"
      security:
        - hammerhead_oauth: ["workout:write"]
  /workouts/{workoutId}:
    delete:
      summary: Delete workout
      description: >
        Delete a workout by ID. Can only delete workouts created by your client.
      tags:
        - Workouts
      parameters:
        - name: workoutId
          in: path
          required: true
          schema:
            type: string
          description: Workout ID
      responses:
        204:
          description: OK
      security:
        - hammerhead_oauth: ["workout:write"]
  /metrics:
    post:
      summary: Push training metrics
      description: >
        Push a user's training metrics. Any unprovided fields are left editable
        by the user.
      tags:
        - Metrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Metrics"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metrics"
      security:
        - hammerhead_oauth: ["metrics:write"]
components:
  requestBodies:
    RouteUpload:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                description: >
                  A route file.
                  Filename should have one of the following extensions:
                  .gpx .fit .tcx .kml .kmz
                type: string
                format: binary
    WorkoutUpload:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                description: >
                  A workout file.
                  Filename should have one of the following extensions:
                  .fit .zwo
                type: string
                format: binary
  schemas:
    Pagination:
      type: object
      properties:
        totalItems:
          type: integer
          example: 34
          description: Total paginated items
        totalPages:
          type: integer
          example: 4
          description: Total number of pages
        perPage:
          type: integer
          example: 10
          description: Number of items per page
        currentPage:
          type: integer
          example: 2
          description: Current page number
    ActivitySummary:
      type: object
      properties:
        id:
          example: 1000.activity.abcd
          type: string
        name:
          example: My Epic Ride
          type: string
        createdAt:
          example: "2025-01-25T12:10:09.409Z"
          type: string
        duration:
          example: 76765
          type: number
        distance:
          type: number
          example: 123.45
    Activity:
      allOf:
        - $ref: "#/components/schemas/ActivitySummary"
        - type: object
          properties:
            activityType:
              enum:
                - RIDE
                - EBIKE
                - MOUNTAIN_BIKE
                - GRAVEL
                - EMOUNTAIN_BIKE
                - VELOMOBILE
              example: RIDE
              type: string
            description:
              example: I fell clipping out
              type: string
            polyline:
              example: "}xq~FhlzvOgkH||JwqDm}ApHqlCtnCcbD{qCoyCpXabDr~CwXn~GrzI"
              type: string
            updatedAt:
              example: "2025-01-25T12:10:09.409Z"
              type: string
    RouteSummary:
      properties:
        id:
          example: 1000.route.abcd
          type: string
        name:
          example: The Usual Loop
          type: string
        createdAt:
          example: "2025-01-25T12:10:09.409Z"
          type: string
        distance:
          example: 2500
          type: number
        gain:
          example: 50
          type: number
      type: object
    Route:
      allOf:
        - $ref: "#/components/schemas/RouteSummary"
        - type: object
          properties:
            updatedAt:
              example: "2025-01-25T12:10:09.409Z"
              type: string
            polyline:
              example: "}xq~FhlzvOgkH||JwqDm}ApHqlCtnCcbD{qCoyCpXabDr~CwXn~GrzI"
              type: string
    ActivityWebhook:
      properties:
        activityId:
          example: 1000.activity.abcd
          type: string
        userId:
          example: "1000"
          type: string
    Workout:
      properties:
        createdAt:
          example: "2025-01-25T12:10:09.409Z"
          type: string
        description:
          example: Actually crushed my legs
          type: string
        id:
          example: 1000.workout.abcd
          type: string
        name:
          example: Leg Crusher 2025
          type: string
        plannedDate:
          example: "2025-01-26"
          type: string
        updatedAt:
          example: "2025-01-25T12:10:09.409Z"
          type: string
      type: object
    Zone:
      type: object
      required:
        - min
        - max
      properties:
        min:
          type: integer
          example: 120
        max:
          type: integer
          description: Must be greater than `min`
          example: 150
        name:
          type: string
          example: Zone 2
    Metrics:
      type: object
      properties:
        weightInKilograms:
          type: number
          example: 72.5
        maxHr:
          type: integer
          description: Maximum heart rate in beats per minute
          example: 190
        restingHr:
          type: integer
          description: Resting heart rate in beats per minute
          example: 52
        heartRateZones:
          type: array
          description: Heart rate zones in beats per minute
          items:
            $ref: "#/components/schemas/Zone"
        powerFtp:
          type: integer
          description: Functional threshold power in watts
          example: 250
        powerZones:
          type: array
          description: Power zones in watts
          items:
            $ref: "#/components/schemas/Zone"
  securitySchemes:
    hammerhead_oauth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.hammerhead.io/v1/auth/oauth/authorize
          tokenUrl: https://api.hammerhead.io/v1/auth/oauth/token
          scopes:
            "activity:read": Grants access to read activities and be notified of new ones
            "route:read": Grants access to read routes
            "route:write": Grants access to push routes
            "workout:write": Grants access to push workouts
            "metrics:write": Grants access to push training metrics
    webhook_signature:
      type: apiKey
      in: header
      name: X-Hmac-Signature
      description: HMAC SHA256 signature of the body using your webhook secret as the key
webhooks:
  Activity notification:
    post:
      summary: Activity sync
      description: >
        Receive notifications of an activity sync request.
      tags:
        - Activities
      requestBody:
        description: Information about new activity or manual retry
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivityWebhook"
      responses:
        200:
          description: Hopefully successful, errors are ignored
      security:
        - webhook_signature: []
